<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Upload</title>
  <link rel="icon" type="image/x-icon" href="/?assets=favicon.ico">
  <link rel="stylesheet" href="/?assets=style.css">
  <script src="/?assets=htmx.min.js"></script>
</head>
<body>
    <form id="board" class="flist" hx-put="/?api=writef" hx-swap="none" swap="none"
      hx-on::after-request=" if(event.detail.successful) this.reset(); htmx.trigger('#flist', 'globup')"
      >
      <label>File Name</label>
      <div>
        <input id="nameinp" type="text" name="name">
      </div>
      <label>File Contents</label>
      <div class="form-group">
        <input class="inp" type="text" name="content">
      </div>
      <button >Submit</button>
      <button hx-on:click="htmx.find('#board').reset()" >Cancel</button>
    </form>

    <br>

    <form id='form' class="flist" hx-encoding='multipart/form-data' hx-post='/?api=upload' hx-swap="none"
      hx-on::after-request=" if(event.detail.successful) this.reset(); htmx.trigger('#flist', 'globup')"
      >
        <input id='browse' type='file' name='file' multiple>
        <button id="fupb">Upload</button>
        <progress id='progress' class='progress' value='0' max='100'></progress>
    </form>

    <br>

    <table id="flist"  hx-get='/?api=flist' hx-target="#ftbody" hx-swap="innerHTML" hx-trigger="load,globup">
      <thead>
        <tr>
          <th> </th>
          <th>Name</th>
          <th>Date</th>
          <th>Size</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="ftbody">
      </tbody>
    </table>
-  <script src="/?assets=main.js"></script>
</body>
</html>
