<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Upload</title>
  <link rel="icon" type="image/x-icon" href="/?assets=favicon.ico">
  <link rel="stylesheet" href="/?assets=tstyle.css">
  <!-- <link rel="stylesheet" href="/?assets=style.css"> -->
  <script src="/?assets=htmx.min.js"></script>
</head>
<body>
    <main class="flex-1 flex flex-col p-4 gap-4">
    <form id="board" class="grid gap-2"  hx-put="/?api=writef" hx-swap="none" swap="none"
      hx-on::after-request=" if(event.detail.successful) this.reset(); htmx.trigger('#flist', 'globup')"
      >
        <div class="grid gap-2">
          <input
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            placeholder="File Name"
            id="filename"
            name="filename"
            type="text"
          />
          <textarea
            class="flex w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 min-h-[100px]"
            placeholder="File Contents"
            id="filecontents"
            name="filecontents"
            type="text"
          ></textarea>
        </div>
        <div class="grid gap-2 grid-flow-col">
          <button class="col-span-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
          hx-on:click="htmx.find('#board').reset()"
          >
            Clear
          </button>
          <button class="col-span-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2"
          type="submit"
            >
            Submit
          </button>
        </div>
    </form>>


    <form id="board" class="flist" hx-put="/?api=writef" hx-swap="none" swap="none"
      hx-on::after-request=" if(event.detail.successful) this.reset(); htmx.trigger('#flist', 'globup')"
      >
      <label>File Name</label>
      <div>
        <input id="nameinp" type="text" name="name">
      </div>
      <label>File Contents</label>
      <div class="form-group">
        <input class="inp" type="text" name="content">
      </div>
      <button >Submit</button>
      <button hx-on:click="htmx.find('#board').reset()" >Cancel</button>
    </form>

    <br>

    <form id='form' class="flist" hx-encoding='multipart/form-data' hx-post='/?api=upload' hx-swap="none"
      hx-on::after-request=" if(event.detail.successful) this.reset(); htmx.trigger('#flist', 'globup')"
      >
        <input id='browse' type='file' name='file' multiple>
        <button id="fupb">Upload</button>
        <progress id='progress' class='progress' value='0' max='100'></progress>
    </form>

    <br>

    <table id="flist"  hx-get='/?api=flist' hx-target="#ftbody" hx-swap="innerHTML" hx-trigger="load,globup">
      <thead>
        <tr>
          <th> </th>
          <th>Name</th>
          <th>Date</th>
          <th>Size</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="ftbody">
      </tbody>
    </table>
    </main>
-  <script src="/?assets=main.js"></script>
</body>
</html>
