
 .inp {
        display: block;
        padding: 10px;
        width: 200px;
        overflow: min-content;
    }
    .flist {
        border: 2px solid #228B22;
        border-radius: 8px;
        padding: 10px 10px;
    }
    .progress {
      width: 100%;
      max-width: 900px;
    }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    border-width: 2px;
  }
  th, td {
    border: 0px solid black;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
  .ticon {
    font-size: 30px ;
    min-width: 34px;
    width: 4%;
    padding: 0px;
  }
.delbtn {
    font-size: 30px ;
  background: white;
  border: 0px solid;
  cursor:pointer;
  color:red;
}
